<%= render 'layouts/top_linkbar' %>
<div class="container">
<!-- putt the html below this line -->

<h2>New User</h2>
<div class="center">
<%= render 'form' %>
</div>



<!-- putt the html above this line -->
</div>
<%= render 'layouts/bottom_linkbar' %>