@import "bootstrap";


.center {
  text-align: center;
}

.center{
  margin-bottom: 10px;
}

.actionIcon {
	height: 16px;
	width: 16px;
}

.mainContentTable {
	width: 970px;
}

.popupContentTable {
	width: 700px;
}

td,th {
	padding-top: 5px;
	padding-bottom: 5px;
	border: 0.1em dashed #aaa;
}
tr {
	padding-left: 5px;
	padding-right: 5px;
}




html {
  overflow-y: scroll;
}

body {
  padding-top: 20px;
}

section {
  overflow: auto;
}

textarea {
  resize: horizontal;
  height: 50px;
}

span {
	text-align: right;
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 1.8em;
  letter-spacing: 3px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: 2px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

h3 {
  font-size: 1.0em;
  letter-spacing: 2px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

h4 {
  font-size: 0.8em;
  letter-spacing: 2px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

mainContent {
	height: 550px;
	width: 750px;
}
